.main {
  background: 
  /* linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ), */ url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

img {
  display: inline-table;
  object-fit: fill;
  width: 400px;
  height: 300px;
}
.star-image {
  /* background-image: require('./assets/tree.png'); */
  position: relative;
  text-align: center;
  color: white;
  display: inline-flex;
  resize: both;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Pacifico', cursive;
  /* overflow:hidden; */
  /* height: 100%; */
  /* width: fit-content; */
  /* width: 100%;
  padding: 10%; */
}

.star-image img {
  opacity: .7;
}

.centered {
  /* word-wrap: break-word; */
  position: absolute;
  /* margin-left: 5%; */
  margin: auto;
  /* margin-right: 5%; */
  top: 55%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  word-break: normal;
}

.alignleft {
  float: left;
  /* width: 33.33333%; */
  width: 50%;
  text-align: left;
}
.aligncenter {
  float: left;
  width: 33.33333%;
  text-align: center;
}
.alignright {
  float: left;
  /* width: 33.33333%; */
  width: 50%;
  text-align: center;
}
